* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "League Spartan", sans-serif;
  font-size: 62.5%;
  background-color: hsl(0, 0%, 100%);
  position: relative;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}
.wrapper .img-top {
  display: none;
}
.wrapper .img-bottom {
  display: none;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}
.social__heading {
  text-align: center;
  margin: 3em 1.2em;
}
.social__heading-title {
  font-size: 2.4rem;
  margin: 1em 1em 0.5em;
  font-weight: bold;
  color: hsl(300, 43%, 22%);
}
.social__heading-title .big-title {
  font-size: 2.8rem;
}
.social__heading-text {
  color: hsl(303, 10%, 53%);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3em;
}
.social__box {
  width: 100%;
  max-width: 100%;
}
.social__box-card {
  max-width: 100%;
  height: auto;
  margin: 0 1.2em 1.5em;
  padding: 1.5em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  border-radius: 8px;
  background-color: hsl(300, 24%, 96%);
}
.social__box-card-stars img {
  padding: 0 0.3em;
}
.social__box-card-text {
  font-size: 1.2rem;
  color: hsl(300, 43%, 22%);
  font-weight: bold;
}
.social__opinions {
  width: 100%;
}
.social__opinions-card {
  max-width: 100%;
  height: auto;
  margin: 1.5em 1.2em;
  padding: 1.5em 0;
  border-radius: 8px;
  background-color: hsl(300, 43%, 22%);
  overflow: hidden;
  border: 1px solid transparent;
  transition: transform 0.3s;
}
.social__opinions-card:hover {
  transform: scale(0.97);
}
.social__opinions-card-user {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 2em 4em;
}
.social__opinions-card-user .img {
  width: 50px;
  border-radius: 50%;
}
.social__opinions-card-user-name {
  margin-left: 1.5em;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5em;
}
.social__opinions-card-user-name .name {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
}
.social__opinions-card-user-name .buyer {
  color: hsl(333, 80%, 67%);
  font-weight: 400;
}
.social__opinions-card .option-text {
  margin: 2em 2em;
  font-size: 1.1rem;
  color: hsl(0, 0%, 100%);
  line-height: 1.5em;
}

.footer {
  width: 100%;
  margin-top: 4em;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .attribution {
  padding: 3em 0;
  letter-spacing: 1px;
  font-size: 1.2rem;
  color: hsl(0, 0%, 100%);
}
.footer .attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 992px) {
  .wrapper .img-top {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
  }
  .wrapper .img-bottom {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -5;
  }
  .social {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .social__heading {
    text-align: left;
    margin: 0 1em 0 2em;
  }
  .social__heading-title {
    margin: 0.5em 0 0.5em;
    font-size: 3.7rem;
  }
  .social__heading-title .big-title {
    font-size: 4.5rem;
  }
  .social__box {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.5em;
  }
  .social__box-card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    min-width: 420px;
    padding: 1.5em;
  }
  .social__box-card--one {
    grid-column: 1/11;
    grid-row: 1/2;
  }
  .social__box-card--two {
    grid-column: 2/12;
    grid-row: 2/3;
  }
  .social__box-card--three {
    grid-column: 3/13;
    grid-row: 3/4;
  }
  .social__opinions {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(12, 1fr);
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
  }
  .social__opinions-card {
    min-height: 300px;
    max-height: 300px;
    margin-right: 3em;
    opacity: 0;
    animation: showCard 2s forwards;
    box-shadow: -3px -7px 14px 2px rgb(77, 15, 77);
  }
  .social__opinions-card--one {
    grid-row: 1/11;
    grid-column: 1/2;
  }
  .social__opinions-card--two {
    grid-row: 1/12;
    grid-column: 2/3;
    animation-delay: 0.2s;
  }
  .social__opinions-card--three {
    grid-row: 1/13;
    grid-column: 3/4;
    animation-delay: 0.4s;
  }
  .footer {
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .social__heading {
    margin-right: 10em;
  }
}
@keyframes showCard {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */