@use '_colors' as *;
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'League Spartan', sans-serif;
	font-size: 62.5%;
	background-color: $white;
	position: relative;
}
.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;

	.img-top {
		display: none;
	}
	.img-bottom {
		display: none;
	}
}
.social {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 100%;
	&__heading {
		text-align: center;
		margin: 3em 1.2em;

		&-title {
			font-size: 2.4rem;
			margin: 1em 1em 0.5em;
			font-weight: bold;
			color: $verydark;
			.big-title {
				font-size: 2.8rem;
			}
		}
		&-text {
			color: $darkmagenta;
			font-size: 1.2rem;
			font-weight: 400;
			line-height: 1.3em;
		}
	}
	&__box {
		width: 100%;
		max-width: 100%;
		&-card {
			max-width: 100%;
			height: auto;
			margin: 0 1.2em 1.5em;
			padding: 1.5em 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1.5em;
			border-radius: 8px;
			background-color: $lightmagenta;
			&-stars {
				img {
					padding: 0 0.3em;
				}
			}
			&-text {
				font-size: 1.2rem;
				color: $verydark;
				font-weight: bold;
			}
		}
	}
	&__opinions {
		width: 100%;
		&-card {
			max-width: 100%;
			height: auto;
			margin: 1.5em 1.2em;
			padding: 1.5em 0;
			border-radius: 8px;
			background-color: $verydark;
			overflow: hidden;
			border: 1px solid transparent;
			transition: transform 0.3s;
			&:hover {
				transform: scale(0.97);
			}
			&-user {
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				margin: 2em 4em;
				.img {
					width: 50px;
					border-radius: 50%;
				}
				&-name {
					margin-left: 1.5em;
					font-size: 1.2rem;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					gap: 0.5em;
					.name {
						color: $white;
						font-weight: 600;
					}
					.buyer {
						color: $pink;
						font-weight: 400;
					}
				}
			}
			.option-text {
				margin: 2em 2em;
				font-size: 1.1rem;
				color: $white;
				line-height: 1.5em;
			}
		}
	}
}
.footer {
	width: 100%;
	margin-top: 4em;
	background-color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	.attribution {
		padding: 3em 0;
		letter-spacing: 1px;
		font-size: 1.2rem;
		color: $white;
		a {
			color: hsl(228, 45%, 44%);
		}
	}
}

@media (min-width: 992px) {
	.wrapper {
		.img-top {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -5;
		}
		.img-bottom {
			display: block;
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: -5;
		}
	}
	.social {
		height: 100vh;
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		&__heading {
			text-align: left;
			margin: 0 1em 0 2em;

			&-title {
				margin: 0.5em 0 0.5em;
				font-size: 3.7rem;
				.big-title {
					font-size: 4.5rem;
				}
			}
		}
		&__box {
			margin-top: 2em;
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			grid-template-rows: repeat(3, 1fr);
			gap: 1.5em;
			&-card {
				display: flex;
				flex-direction: row;
				justify-content: space-evenly;
				align-items: center;
				flex-wrap: nowrap;
				min-width: 420px;
				padding: 1.5em;
				&--one {
					grid-column: 1/11;
					grid-row: 1/2;
				}
				&--two {
					grid-column: 2/12;
					grid-row: 2/3;
				}
				&--three {
					grid-column: 3/13;
					grid-row: 3/4;
				}
			}
		}

		&__opinions {
			grid-column: 1/3;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(12, 1fr);
			flex-wrap: nowrap;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 1em;
			&-card {
				min-height: 300px;
				max-height: 300px;
				margin-right: 3em;
				opacity: 0;
				animation: showCard 2s forwards;
				box-shadow: -3px -7px 14px 2px rgb(77, 15, 77);
				&--one {
					grid-row: 1/11;
					grid-column: 1/2;
				}
				&--two {
					grid-row: 1/12;
					grid-column: 2/3;
					animation-delay: 0.2s;
				}
				&--three {
					grid-row: 1/13;
					grid-column: 3/4;
					animation-delay: 0.4s;
				}
			}
		}
	}
	.footer {
		margin-top: 0;
	}
	
}
@media (min-width: 1200px) {
	.social {
		&__heading {
			margin-right: 10em;
		}
	}
	
}
@keyframes showCard {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
